.title {
	background: #f4f4f4;
	padding-right: 16.666%;
}
.title:before {
	content: "";
  position: absolute;
  z-index: -1;
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f4f4f4;
  background-size: cover;
  background-repeat: no-repeat;
	}

.title-bg:before {
	content: "";
  position: absolute;
  z-index: -1;
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
	}
	
.title-bg-contextual:before {
  background: url('../projects/02_contextual/0.jpg') center center;
  opacity: 0.1;
}

.title-bg-digitalphysical:before {
  background: url('../projects/04_shift/0.jpg') center center;
  opacity: 0.8;
}

.title-bg-humanfactors:before {
  background: url('../projects/03_humans/0.jpg') center center;
  opacity: 0.8;
}

p.display-4 { display: inline; }

p.display-4 span {
	line-height: 1.5em;
	padding: 0.1em 0;
}

p.display-4 span digitalphysical {
	color: #fff;
	box-shadow: 0.3em 0 0 #b91515, -0.3em 0 0 #b91515;
	background-color: #b91515;
	}

p.display-4 span humanfactors {
	color: #fff;
	box-shadow: 0.3em 0 0 #0097bc, -0.3em 0 0 #0097bc;
	background-color: #0097bc;
	}